<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Fist Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      <%@my_friends.each do |friend|%>
        <tr>
          <th scope="row"><%= friend.email%></th>
          <td><%= friend.first_name%></td>
          <td><%= friend.last_name%></td>
          <td class="space-between">
          <%= link_to "View Profile", user_path(friend), class: "btn btn-xs btn-info" %>
          <%= button_to "Stop Following", remove_friend_path(friend), method: :delete, class: "btn btn-xs btn-warning" %>
          </td>
        </tr>
       <%end%>
      </tbody>
    </table>
  </div>
</div>