<!DOCTYPE html>
<html>
  <head>
    <title>StockTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navigation'%>
    <div class="container">
      <%= render 'layouts/messages'%>
      <%= yield %>
    </div>
    <footer>
      <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://florin-pop.com">Vishal Prakash Maurya</a>
        - Read how I created this
        <a target="_blank" href="https://florin-pop.com/blog/2019/04/profile-card-design">here</a>
        - Design made by
        <a target="_blank" href="https://dribbble.com/shots/6276930-Profile-Card-UI-Design">Vishal</a>
      </p>
    </footer>
  </body>
</html>
